{% extends "base.html" %}

{% load static  %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="login-page">
  <div class="login-form-container">
    <div class="login-form-title">
      <h2>{% trans "Log In" %}</h2>
    </div>
    <div class="login-form-content">
      <form class="login login-form" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <!-- <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
        <button class="primaryAction btn btn--success" type="submit">{% trans "Log In" %}</button>
      </form>
      <p class="if-no-account">{% blocktrans %}Don't have an account? Then please
        <a href="{{ signup_url }}"><strong>sign up</strong>.</a>{% endblocktrans %}</p>
    </div>
  </div>

  <span id="close-btn"><i class="fa-solid fa-chevron-left"></i></span>
</section>

<script src="{% static 'js/back-btn.js' %}"></script>

{% endblock %}