{% extends "base.html" %}

{% load static  %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="signup-page">
  <div class="signup-form-container">
    <div class="signup-form-title">
      <h1>{% trans "Sign Up" %}</h1>
    </div>

    <div class="signup-form-content">
      <form class="signup signup-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn--success">{% trans "Sign Up" %} &raquo;</button>
      </form>

      <p class="if-already-account">{% blocktrans %}Already have an account? Then please <a
          href="{{ login_url }}"><strong>log
            in</strong></a>.{% endblocktrans %}</p>
    </div>
  </div>
</section>

<span id="close-btn"><i class="fa-solid fa-chevron-left"></i></span>

<script src="{% static 'js/back-btn.js' %}"></script>

{% endblock %}