:root {
    --red: #BF553B;
    --green: #97aa44;
    --blue: #7bb7ae;
    --yellow: #edd34d;
    --light-grey: #757575;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0; */
    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100dvh;
    /* margin: 0 2%; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Oswald', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 90% 10%;
}

/* Section sizing */

header {
    /* box-sizing: border-box; */
    height: 8dvh;
}

.map-container {
    height: 83dvh;
}

footer {
    height: 9dvh;
}

.user-links:hover,
footer a:hover,
.list-sort-options a:hover,
.list-favourite-btn:hover,
.detail-view-btn:hover,
#close-btn:hover {
    color: black;
    cursor: pointer;
}

.submit-btn:hover,
.btn--success:hover {
    cursor: pointer;
    outline: 2px solid var(--green);
    background-color: white;
    color: var(--green);
}

.cancel-btn:hover,
.btn--alert:hover {
    cursor: pointer;
    outline: 2px solid var(--red);
    background-color: white;
    color: var(--red);
}

/*  */

.title-container {
    display: grid;
    align-items: center;
}

#site-title {
    font-size: 1.6rem;
    /* DELETE THIS UNUSED FONT */
    /* font-family: 'Major Mono Display', monospace; */
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: var(--red);
}

.user-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-grey)
}

.header-nav-text {
    font-size: 0.8rem;
}

/* TYPOGRAPHY */

h1 {
    font-size: 2rem;
    font-weight: 300;
}

/* MAP */

#map {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    /* box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .3); */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}

.map-place-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 2px;
}

.map-view-place-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.comments-count-text {
    color: var(--light-grey);
    font-weight: 300;
    font-size: 0.8rem;
}

/* ADD PLACE PAGE */

#place-add-form {
    display: none;
    border-radius: 3px;
    margin: 4% auto;
    padding: 2%;
    /* display: grid; */
    /* place-items: center; */
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* LIST VIEW */

.list-sort-container {
    /* display: grid;
    place-items: center; */
}

.list-sort-options {
    width: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 2% auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    justify-items: center;
    font-size: 0.8rem;
}

.list-sort-item {
    width: 100%;
    text-align: center;
    border-right: 1px solid #bfbfbf;
}

.active-option {
    color: black;
}

.inactive-option {
    color: var(--light-grey);
}

.detail-view-container {
    margin-bottom: 7%;
}

.place-container {
    /* outline: 1px solid #bfbfbf; */
    /* width: 90%; */
    border-radius: 3px;
    margin: 4% auto;
    padding: 2%;
    /* display: grid; */
    /* place-items: center; */
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2); */
}

.place-title {
    font-weight: 300;
    margin: 2% 0;
}

.img-container {
    width: 92vw;
    height: 92vw;
}

.place-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.list-favourite-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3%;
    color: var(--light-grey);
    background-color: white;
    border: none;
}

/* PLACE DETAIL PAGE */

.detail-container {
    /* margin-bottom: 2%; */
}

.detail-image-container {
    position: relative;
    margin-top: 2%;
}

.place-detail-photo {
    width: 96vw;
    height: 96vw;
    object-fit: cover;
}

.detail-view-btn {
    position: absolute;
    top: 0;
    color: var(--light-grey);
    background-color: rgb(255 255 255 / 100%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    margin: 4% 4%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}

.detail-view-btn--favourite {
    right: 0;
}

.detail-view-btn--back {
    left: 0;
}

.detail-view-hr {
    margin: 4% 20%;
}

.detail-favourite-icon {
    font-size: 1rem;
}

.detail-container>.comments-count-text {
    text-align: center;
}

.place-address {
    font-weight: 300;
    font-size: 0.9rem;
}

.detail-view-place-title {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1% 0;
}

.comment-container {
    /* border: 1px solid #6ac9885c; */
    border-radius: 4px;
    /* background-color: whitesmoke; */
    /* padding: 2%; */
    margin: 2% 0 8% 0;
}

.comments-title-container {
    display: flex;
    align-items: center;
    gap: 2%;
}

.comment-user-icon {
    font-size: 2rem;
    color: var(--blue);
}

.detail-container h3 {
    font-weight: 400;
}

.comments-title-container p {
    color: var(--light-grey);
    font-size: 0.8rem;
}

.comments-text {
    font-weight: 300;
    padding: 4% 0;
}

.comment-tools-container {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
}

.comment-tools {
    display: grid;
    place-items: center;
    font-size: 0.8rem;
    color: var(--light-grey);
}

.detail-container form:nth-of-type(n+2) {
    margin: 5% 0;
}

#id_comment {
    width: 100%;
    margin: 2% 0;
    border-radius: 8px;
    border: 1px solid var(--light-grey);
    padding: 5px;
    resize: none;
}

/* .detail-container .submit-btn,
.detail-container .cancel-btn */
.submit-btn,
.cancel-btn {
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    margin-right: 2%;
    color: white;
}

/* .detail-container .submit-btn */
.submit-btn {
    background-color: var(--green);
}

/* .detail-container .cancel-btn */
.cancel-btn {
    background-color: var(--red);
}

/* COMMENT CRUD PAGES */

.comment-crud-pages-container {
    height: 83vh;
    display: grid;
    place-items: center;
}

.comment-crud-container {
    display: grid;
    gap: 4%;
}

.comment-crud-container h2 {
    font-weight: 400;
}

.comment-delete-form {
    text-align: center;
    margin-top: 4%;
}

/* ADD PLACE PAGE */

.add-place-page {
    margin-top: 5%;
    display: grid;
    place-items: center;
    /* gap: 5%; */
}

#add-place-input-container {
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 2%;
}

#add-place-input-container label {
    margin-right: 2%;
    color: var(--blue);
}

#search-input {
    width: 90%;
    height: 1.5rem;
    /* margin-top: 2%; */
    padding: 5px;
    border: 1px solid var(--blue);
    border-radius: 10px;
}

#place-add-form {
    width: 90%;
    flex-direction: column;
}

.add-form-img-container {
    width: 83vw;
    height: 83vw;
    align-self: center;
}

#place-add-form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#place-add-form p {
    /* text-align: center; */
    margin: 2% 0;
}

#name-field,
#address-field {
    width: 100%;
    height: 1.3rem;
}

.add-place-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#place-add-save-btn,
.add-place-btns-container button {
    min-width: 25%;
    margin: 2%;
}

/* LOG OUT CONFIRMATION PAGE */

.log-out-confirmation-page,
.login-page,
.signup-page {
    height: 90%;
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.login-form-container {
    width: 100%;
    border: 1px solid var(--green);
    border-radius: 8px;
    /* padding: 1rem; */
}

.login-form-title {
    text-align: center;
}

.login-form-container h1 {
    border-bottom: 1px solid var(--green);
    padding: 8px;
}

.login-form-content {
    padding: 1rem;
}

.login-form,
.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.if-no-account {
    color: var(--light-grey);
    text-align: center;
}

.login-page,
.signup-page {
    max-width: 410px;
    /* margin: 0 auto; */
    /* text-align: center; */
}

.login-page input[type=text],
.login-page input[type=password],
.signup-page input[type=text],
.signup-page input[type=password],
.signup-page input[type=email] {
    width: 100%;
    /* height: 1.5rem; */
    padding: 5px;
    border: 1px solid var(--green);
    border-radius: 8px;
    /* margin: 2%; */
    margin: 2% 0;
}

.login-page strong,
.signup-page strong {
    text-decoration: underline;
    text-decoration-color: var(--green);
}

.login-page strong:hover,
.signup-page strong:hover {
    color: black;
}

#id_remember {
    margin-left: 1%;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 15% 10%;
    /* gap: 6%; */
    align-items: center;
    /* padding: 2%; */
    transition: transform .2s linear;
}

#list-view-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 0 2%;
}

.map-page-link {
    grid-column: 2;
}

.list-page-link {
    grid-column: 3;
}

.map-page-link,
.list-page-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #bfbfbf; */
    border-radius: 4px;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1); */
}

.add-place-link {
    grid-column: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-place-centring-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav-text {
    font-size: 0.8rem;
}

.footer-active {
    color: black;
}

.footer-inactive {
    color: var(--light-grey);
}

/* DJANGO MESSAGES */

.messages {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.messages .success {
    background-color: var(--green);
    color: white;
    text-shadow: 0px 0px 0px black;
    /* margin: 5%; */
    padding: 20px;
    /* box-shadow: 0px 0px 2px 0px black; */
    border-radius: 8px;
}

.messages .error {
    background-color: var(--red);
    color: black;
    /* text-shadow: 0px 0px 0px white; */
    /* margin: 5%; */
    padding: 20px;
    /* box-shadow: 0px 0px 2px 0px black; */
    border-radius: 8px;
}

/* COMPONENTS */

.btn {
    width: auto;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: none;
}

.btn--alert {
    background-color: var(--red);
    color: white;
}

.btn--success {
    /* background-color: #9da040; */
    background-color: var(--green);
    color: white;
    /* margin: 5%; */
    /* padding: 10px; */
    /* border-radius: 8px; */
    margin: 8px 0;
}

#close-btn {
    position: absolute;
    top: 11%;
    left: 5%;
    font-size: 1.3rem;
    color: var(--light-grey);
}

/* MEDIA QUERIES */

@media screen and (min-width: 550px) {
    .list-sort-options {
        width: 54%;
    }

    .detail-view-container {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-column-gap: 2%;
    }

    .img-container {
        width: 45vw;
        height: 45vw;
    }

    .detail-container {
        display: flex;
        flex-direction: column;
    }

    .place-detail-info-card {
        /* background-color: var(--blue); */
        background: radial-gradient(circle, rgb(186 228 220) 0%, rgba(123,183,174,1) 100%);
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }

    .place-detail-photo {
        width: 48vw;
        height: 48vw;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    }

    .detail-image-container {
        margin-top: 4%;
        position: relative;
        width: 50%;
        align-self: center;
    }

    .detail-view-btn {
        margin: 4% 4%;
    }

    .detail-text {
        padding: 0 0 2% 0;
        text-align: center;
    }

    .comment-container {
        margin: 2% 0 0% 0;
    }

    .comments-text {
        padding: 2% 0;
    }

    /* .login-page {
        max-width: 550px;
    } */
}

@media screen and (min-width: 750px) {
    body {
        margin: 0 4%;
    }

    .img-container {
        width: 43vw;
        height: 43vw;
    }

    #list-view-footer {
        padding: 0 4%;
    }

    .place-detail-info-card {
        margin-top: 4%;
    }

    .detail-view-btn {
        margin: 5% 5%;
    }

    .place-detail-photo {
        width: 46vw;
        height: 46vw;
    }

    .add-place-page {
        padding: 0 11%;
        margin-top: 0;
    }

    .add-form-img-container {
        width: 62vw;
        height: 62vw;
    }
}

@media screen and (min-width: 1000px) {
    body {
        margin: 0 8%;
    }

    .list-sort-options {
        width: 75%;
    }

    .detail-view-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .img-container {
        width: 25.33vw;
        height: 25.33vw;
    }

    #list-view-footer {
        padding: 0 8%;
    }

    .detail-container {
        margin: 0 16%;
    }

    .place-detail-photo {
        width: 28.5vw;
        height: 28.5vw;
    }

    .detail-view-btn {
        margin: 3% 22%;
    }

    .add-place-page {
        padding: 0 24%;
    }

    .add-form-img-container {
        width: 38vw;
        height: 38vw;
    }

    #close-btn {
        left: 8%;
    }
}

@media screen and (min-width: 1400px) {
    body {
        margin: 0 12%;
    }

    .list-sort-options {
        width: 49%;
    }

    .detail-view-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .img-container {
        width: 17vw;
        height: 17vw;
    }

    #list-view-footer {
        padding: 0 12%;
    }

    .detail-container {
        margin: 0 18%;
    }

    .place-detail-photo {
        width: 24.5vw;
        height: 24.5vw;
    }

    .detail-view-btn {
        margin: 3% 27%;
    }

    .add-form-img-container {
        width: 34vw;
        height: 34vw;
    }

    #close-btn {
        left: 12%;
    }
}