* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0; */
    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
    margin: 0 2%;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Oswald', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 85% 15%;
}

/* Section sizing */

header {
    /* box-sizing: border-box; */
    height: 7vh;
}

.map-container {
    height: 84vh;
}

footer {
    height: 9vh;
}

/*  */

.title-container {
    /* display: grid;
    place-items: center;
    justify-items: start; */
}

#site-title {
    font-size: 2rem;
    /* font-family: 'Major Mono Display', monospace; */
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.user-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-links {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.header-nav-text {
    font-size: 0.6rem;
}

/* TYPOGRAPHY */

h1 {
    font-size: 2rem;
    font-weight: 300;
}

/* MAP */

#map {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    /* box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .3); */
}

.map-place-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 2px;
}

.map-view-place-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.comments-count-text {
    color: #494949;
}

/* ADD PLACE PAGE */

#place-add-form {
    display: none;
}

/* LIST VIEW */

.list-sort-container {
    /* display: grid;
    place-items: center; */
}

.list-sort-options {
    width: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 2% auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    justify-items: center;
}

.list-sort-item {
    width: 100%;
    text-align: center;
    border-right: 1px solid #bfbfbf;
}

.place-container {
    /* outline: 1px solid #bfbfbf; */
    /* width: 90%; */
    border-radius: 3px;
    margin: 4% auto;
    padding: 2%;
    /* display: grid; */
    /* place-items: center; */
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2); */
}

.place-title {
    font-weight: 300;
    margin: 2% 0;
}

.img-container {
    width: 92vw;
    height: 92vw;
}

.place-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favourite-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3%;
    color: #494949;
}

/* PLACE DETAIL PAGE */

.detail-container {
    margin-bottom: 2%;
}

.detail-image-container {
    position: relative;
    margin-top: 2%;
}

.place-detail-photo {
    width: 100%;
    /* border-radius: 4px; */
}

.detail-view-btn {
    position: absolute;
    top: 0;
    color: #494949;
    background-color: rgb(255 255 255 / 100%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    margin: 4% 4%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}

.detail-view-btn--favourite {
    right: 0;
}

.detail-view-btn--back {
    left: 0;
}

.detail-view-hr {
    margin: 4% 20%;
}

.detail-favourite-icon {
    font-size: 1.1rem;
}

.detail-container>.comments-count-text {
    text-align: center;
}

.place-address {
    font-weight: 300;
    font-size: 0.9rem;
    color: #494949;
}

.detail-view-place-title {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1% 0;
}

.comment-container {
    /* border: 1px solid #6ac9885c; */
    border-radius: 4px;
    /* background-color: whitesmoke; */
    /* padding: 2%; */
    margin: 2% 0 8% 0;
}

.comments-title-container {
    display: flex;
    align-items: center;
    gap: 2%;
}

.comment-user-icon {
    font-size: 2rem;
    color: #959595;
}

.detail-container h3 {
    font-weight: 400;
}

.comments-title-container p {
    color: #959595;
    font-size: 0.8rem;
}

.comments-text {
    font-weight: 300;
    padding: 4% 0;
}

.comment-tools-container {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
}

.comment-tools {
    display: grid;
    place-items: center;
    font-size: 0.8rem;
    color: #959595;
}

.detail-container form:nth-of-type(n+2) {
    margin: 5% 0;
}

#id_comment {
    width: 100%;
    margin: 2% 0;
}

.detail-container .submit-btn,
.detail-container .cancel-btn {
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    margin-right: 2%;
    color: white;
}

.detail-container .submit-btn {
    background-color: #9da040;
}

.detail-container .cancel-btn {
    background-color: #cf5c36;
}

/* .end-spacer {
    height: 2%;
} */

/* ADD PLACE PAGE */

.add-place-page {
    margin-top: 20%;
    display: grid;
    place-items: center;
    gap: 5%;
}

/* LOG OUT CONFIRMATION PAGE */

.log-out-confirmation-page,
.login-page,
.signup-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.login-form,
.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6%;
    align-items: center;
    padding: 2%;
}

.map-page-link {
    grid-column: 2;
}

.list-page-link {
    grid-column: 3;
}

.map-page-link,
.list-page-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1); */
}

.add-place-link {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.add-place-centring-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav-text {
    font-size: 0.8rem;
}

/* footer button active classes */
.active {
    /* box-shadow: inset 0 2px 7px 1px rgba(0, 0, 0, .3); */
}

.inactive {
    /* box-shadow: 0 2px 7px 1px rgba(0, 0, 0, .3); */
}

/* DJANGO MESSAGES */

.messages {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.messages .success {
    background-color: #9da040;
    color: white;
    text-shadow: 0px 0px 0px black;
    /* margin: 5%; */
    padding: 20px;
    /* box-shadow: 0px 0px 2px 0px black; */
    border-radius: 8px;
}

/* COMPONENTS */

.btn {
    width: auto;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: none;
}

.btn--alert {
    background-color: #cf5c36;
    color: white;
}

.btn--success {
    /* background-color: #9da040; */
    background-color: #9da040;
    color: white;
    /* margin: 5%; */
    padding: 20px;
    border-radius: 8px;
}