:root {
    --red: #BF553B;
    --green: #6F7B32;
    --blue: #7bb7ae;
    --yellow: #edd34d;
    --light-grey: #757575;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Oswald', sans-serif;
    /* Fallback if unsupported 'dvh': */
    height: 100vh;
    height: 100dvh;
}

header {
    display: grid;
    grid-template-columns: 87% 13%;
}

/* SECTION SIZING */

header {
    /* Fallback if unsupported 'dvh': */
    height: 9vh;
    height: 9dvh;
    margin: 0 2%;
}

.map-container {
    /* Fallback: */
    height: 82vh;
    height: 82dvh;
    margin: 0 2%;
}

footer {
    /* Fallback: */
    height: 9vh;
    height: 9dvh;
    margin: 0 2%;
}

/* HEADER */

.title-container {
    display: grid;
    align-items: center;
}

#site-title {
    font-size: 1.7rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: var(--red);
}

.user-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.user-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-grey)
}

.header-nav-text {
    font-size: 0.8rem;
}

.user-links:hover,
footer a:hover,
.list-sort-options a:hover,
.list-favourite-btn:hover,
.detail-view-btn:hover,
#close-btn:hover {
    color: black;
    cursor: pointer;
}

/* TYPOGRAPHY */

h1 {
    font-size: 2rem;
    font-weight: 300;
}

/* MAP */

#map {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}

.map-place-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 2px;
}

.map-view-place-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.comments-count-text {
    color: var(--light-grey);
    font-weight: 300;
    font-size: 0.8rem;
}

/* ADD PLACE PAGE */

#place-add-form {
    display: none;
    border-radius: 3px;
    margin: 4% auto;
    padding: 2%;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* LIST VIEW */

.list-view-main {
    position: relative;
}

.list-sort-options {
    width: 96%;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    justify-items: center;
    font-size: 0.8rem;
}

.list-sort-item {
    width: 100%;
    text-align: center;
    border-right: 1px solid #bfbfbf;
}

.active-option {
    color: black;
}

.inactive-option {
    color: var(--light-grey);
}

.detail-view-container {
    margin: 0 2%;
}

.place-container {
    border-radius: 3px;
    margin: 4% auto;
    padding: 2%;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.place-title {
    font-weight: 300;
    margin: 2% 0;
}

.img-container {
    width: 92vw;
    height: 92vw;
}

.place-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.list-favourite-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3%;
    color: var(--light-grey);
    background-color: white;
    border: none;
}

#spinner-container {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    pointer-events: none;
}

.hide-spinner {
    transition: opacity 0.4s;
    opacity: 0;
}

/* PLACE DETAIL PAGE */

.detail-image-container {
    position: relative;
}

.place-detail-photo {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    opacity: 0;
}

.show-photo {
    transition: opacity 0.8s;
    opacity: 1;
}

.detail-view-btn {
    position: absolute;
    top: 0;
    color: var(--light-grey);
    background-color: rgb(255 255 255 / 100%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    margin: 2%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}

.detail-view-btn--favourite {
    right: 0;
}

.detail-view-btn--back {
    left: 0;
}

.detail-view-hr {
    margin: 4% 20%;
}

.detail-favourite-icon {
    font-size: 1rem;
}

.detail-container>.comments-count-text {
    text-align: center;
}

.place-address {
    font-weight: 300;
    font-size: 0.9rem;
    margin: 0 2%;
}

.detail-view-place-title {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1% 2% 1% 2%;
}

.comment-container {
    border-radius: 4px;
    margin: 2% 2% 1.5rem 2%;
}

.comments-title-container {
    display: flex;
    align-items: center;
    gap: 2%;
}

.comment-user-icon {
    font-size: 2rem;
    color: var(--blue);
}

.author-name {
    font-size: 1.1rem;
    font-weight: 400;
}

.comment-form {
    margin: 0 2%;
}

.comments-title-container p {
    color: var(--light-grey);
    font-size: 0.8rem;
}

.comments-text {
    font-size: 1.1rem;
    font-weight: 300;
    padding: 4% 0;
    line-height: 1.5;
}

.comment-tools-container {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
}

.comment-tools {
    display: grid;
    place-items: center;
    font-size: 0.8rem;
    color: var(--light-grey);
}

.detail-container form:nth-of-type(n+2) {
    margin: 5% 0;
}

#id_comment {
    width: 100%;
    margin: 2% 0;
    border-radius: 8px;
    border: 1px solid var(--light-grey);
    padding: 0 5px;
    resize: none;
}

.submit-btn,
.cancel-btn {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    margin-right: 2%;
    color: white;
    min-width: 4.5rem;
}

.submit-btn {
    background-color: var(--green);
}

.cancel-btn {
    background-color: var(--red);
    text-align: center;
}

.log-in-request {
    margin-left: 2%;
}

/* COMMENT CRUD PAGES */

.comment-crud-pages-container {
    height: 83vh;
    display: grid;
    place-items: center;
}

.comment-crud-container {
    display: grid;
    gap: 4%;
}

.comment-crud-container h2 {
    font-weight: 400;
}

.comment-delete-form {
    text-align: center;
    margin-top: 4%;
}

input,
textarea,
label {
    font-size: 1.1rem;
    font-family: inherit;
}

textarea {
    font-weight: 300;
    line-height: 1.5;
}

/* ADD PLACE PAGE */

.add-place-page {
    margin-top: 5%;
    display: grid;
    place-items: center;
}

#add-place-input-container {
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 2%;
}

#add-place-input-container label {
    margin-right: 2%;
    color: var(--blue);
}

#search-input {
    width: 90%;
    padding: 2px 4px 4px 6px;
    border: 1px solid var(--blue);
    border-radius: 10px;
    font-weight: 300;
    font-size: 1rem;
}

#place-add-form {
    width: 90%;
    flex-direction: column;
}

.add-form-img-container {
    width: 83vw;
    height: 83vw;
    align-self: center;
}

#place-add-form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#place-add-form p {
    margin: 2%;
}

/* Hides the form error list (validation is done in the View): */
#place-add-form ul {
    display: none;
}

#name-field,
#address-field {
    width: 100%;
    height: 1.3rem;
}

.add-place-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#place-add-save-btn,
.add-place-btns-container a {
    min-width: 25%;
    margin: 2%;
}

/* LOGIN/LOGOUT/SIGNUP/ERROR PAGES */

.log-out-confirmation-page,
.login-page,
.signup-page,
.error-404-page,
.error-500-page {
    height: 90%;
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.login-form-container,
.signup-form-container {
    width: 100%;
    border: 1px solid var(--green);
    border-radius: 8px;
}

.login-form-title,
.signup-form-title {
    text-align: center;
}

.login-form-container h2,
.signup-form-container h2,
.log-out-confirmation-page h2,
.error-404-page h2,
.error-500-page h2 {
    font-size: 2rem;
    font-weight: 300;
}

.login-form-container h2,
.signup-form-container h2 {
    border-bottom: 1px solid var(--green);
    padding: 8px;
}

.login-form-content,
.signup-form-content {
    padding: 1rem;
}

.login-form,
.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.if-no-account,
.if-already-account {
    color: var(--light-grey);
    text-align: center;
}

.login-page,
.signup-page {
    max-width: 410px;
}

.login-page label,
.signup-page label {
    color: var(--green);
}

.login-page input[type=text],
.login-page input[type=password],
.signup-page input[type=text],
.signup-page input[type=password],
.signup-page input[type=email] {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--green);
    border-radius: 8px;
    margin: 2% 0;
    font-weight: 300;
}

.login-page strong,
.signup-page strong {
    text-decoration: underline;
    text-decoration-color: var(--green);
}

.login-page strong:hover,
.signup-page strong:hover {
    color: black;
}

#id_remember {
    margin-left: 1%;
}

.errorlist {
    color: var(--red);
    list-style: none;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 15% 10%;
    align-items: center;
    transition: transform .2s linear;
}

#list-view-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 96%;
    background-color: white;
}

.map-page-link {
    grid-column: 2;
}

.list-page-link {
    grid-column: 3;
}

.map-page-link,
.list-page-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.add-place-link {
    grid-column: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-place-centring-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav-text {
    font-size: 0.8rem;
}

.footer-active {
    color: black;
}

.footer-inactive {
    color: var(--light-grey);
}

/* DJANGO MESSAGES */

.messages {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.messages .success {
    background-color: var(--green);
    color: white;
    text-shadow: 0px 0px 0px black;
    padding: 20px;
    border-radius: 8px;
}

.messages .error {
    background-color: var(--red);
    color: black;
    padding: 20px;
    border-radius: 8px;
}

/* COMPONENTS */

.btn {
    width: auto;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: none;
}

.btn--alert {
    background-color: var(--red);
    color: white;
}

.btn--success {
    background-color: var(--green);
    color: white;
    margin: 8px 0;
}

#close-btn {
    position: absolute;
    top: 9%;
    left: 6%;
    font-size: 1.3rem;
    color: var(--light-grey);
}

.submit-btn:hover,
.btn--success:hover {
    cursor: pointer;
    outline: 2px solid var(--green);
    background-color: white;
    color: var(--green);
}

.cancel-btn:hover,
.btn--alert:hover {
    cursor: pointer;
    outline: 2px solid var(--red);
    background-color: white;
    color: var(--red);
}

/* MEDIA QUERIES */

@media screen and (min-width: 550px) {
    .list-sort-options {
        width: 54%;
        margin: 2% auto;
    }

    .detail-view-container {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-column-gap: 2%;
    }

    .img-container {
        width: 45vw;
        height: 45vw;
    }

    .detail-container {
        display: flex;
        flex-direction: column;
    }

    .place-detail-info-card {
        display: flex;
        flex-direction: column;
        background: radial-gradient(circle, rgb(186 228 220) 0%, rgba(123, 183, 174, 1) 100%);
    }

    .place-detail-photo {
        width: 48vw;
        height: 48vw;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    }

    .detail-image-container {
        margin-top: 4%;
        position: relative;
        width: 50%;
        align-self: center;
    }

    .detail-view-btn {
        margin: 4% 4%;
    }

    .detail-text {
        padding: 0 0 2% 0;
        text-align: center;
    }

    .comments-text {
        padding: 2% 0;
    }
}

@media screen and (min-width: 750px) {
    body {
        margin: 0 4%;
    }

    .img-container {
        width: 43vw;
        height: 43vw;
    }

    #list-view-footer {
        padding: 0 4%;
    }

    .place-detail-info-card {
        margin-top: 4%;
    }

    .detail-view-btn {
        margin: 5% 5%;
    }

    .place-detail-photo {
        width: 46vw;
        height: 46vw;
    }

    .detail-view-place-title {
        margin: 1% 2% 1% 0;
    }

    #place-add-form p {
        margin: 1% 0 1% 0;
    }

    .comment-container {
        margin: 2% 0 1.5rem 0;
    }

    .comment-form {
        margin: 0;
    }

    .log-in-request {
        margin-left: 0
    }

    .add-place-page {
        padding: 0 11%;
        margin-top: 0;
    }

    .add-form-img-container {
        width: 62vw;
        height: 62vw;
    }
}

@media screen and (min-width: 1000px) {
    body {
        margin: 0 8%;
    }

    .list-sort-options {
        width: 75%;
    }

    .detail-view-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .img-container {
        width: 25.33vw;
        height: 25.33vw;
    }

    #list-view-footer {
        padding: 0 8%;
    }

    .detail-container {
        margin: 0 16%;
    }

    .place-detail-photo {
        width: 28.5vw;
        height: 28.5vw;
    }

    .detail-view-btn {
        margin: 3% 22%;
    }

    .add-place-page {
        padding: 0 24%;
    }

    .add-form-img-container {
        width: 38vw;
        height: 38vw;
    }

    #close-btn {
        left: 10%;
    }
}

@media screen and (min-width: 1400px) {
    body {
        margin: 0 12%;
    }

    .list-sort-options {
        width: 49%;
    }

    .detail-view-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .img-container {
        width: 17vw;
        height: 17vw;
    }

    #list-view-footer {
        padding: 0 12%;
    }

    .detail-container {
        margin: 0 18%;
    }

    .place-detail-photo {
        width: 24.5vw;
        height: 24.5vw;
    }

    .detail-view-btn {
        margin: 3% 27%;
    }

    .add-form-img-container {
        width: 34vw;
        height: 34vw;
    }

    #close-btn {
        left: 14%;
    }
}