{% load static  %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}

    {% endblock head %}
    <title>Magical Places - London</title>
</head>

<body>
    <header>
        <h1><a href="{% url 'home' %}">Magical Places - London</a></h1>
        <a href="{% url 'home' %}">Map •</a>
        <a href="{% url 'list' %}">List •</a>
        <a href="{% url 'place_add' %}">Add a Place •</a>
        {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}">Logout •</a>
        {% else %}
        <a href="{% url 'account_signup' %}">Sign Up •</a>
        <a href="{% url 'account_login' %}">Log In •</a>
        {% endif %}
    </header>

    {% block content %}

    {% endblock content %}
</body>

</html>