{% load static  %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}

    {% endblock head %}
    <title>Magical Places - London</title>
</head>

<body>
    <header>
        <h1><a href="{% url 'home' %}">Magical Places - London</a></h1>
        <a href="{% url 'home' %}">Map •</a>
        <a href="{% url 'list' %}">List •</a>
        <a href="{% url 'place_add' %}">Add a Place •</a>
        {% if user.is_authenticated %}
            <p>Logged in as: {{ user.username }}</p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">Log In</a></p>
        {% endif %}
    </header>

    {% block content %}

    {% endblock content %}
</body>

</html>