{% extends "base.html" %}

{% block content %}

{% for place in places %}
<div>
    <h3><a href="{% url 'place_detail' place.pk %}">{{ place.place_name }}</a></h3>
    
    <p>latitude: {{ place.latitude }}</p>
    <p>longitude: {{ place.longitude }}</p>
    <p>contributer: {{ place.contributer }}</p>
    <p>created on: {{ place.created_on }}</p>
    <p>updated on: {{ place.updated_on }}</p>
    <p>Favourited by: </p>
    {% for user in place.favourited.all %}
    {{ user.username }}
    <br>
    {% endfor %}
    <h4>({{ place.comments.count }} Comments)</h4>
    <hr>
</div>
{% endfor %}

{% endblock content %}