{% extends "base.html" %}
{% load static  %}

{% block head %}

<script type="module" src="{% static 'js/place-add-form.js' %}"></script>

{% endblock head %}

{% block content %}

<section class="add-place-page">
    <h1>Add a Place</h1>

    <!-- TEST PLACES AUTOCOMPLETE -->
    <input type="text" id="search-input" placeholder="Enter a place name">
    <div id="place-add-form">
        <!-- PHOTO -->
        <!-- <img src="" alt="" id="photo" height="200"> -->
        <div class="add-form-img-container">
            <img src="" alt="" id="photo">
        </div>
        <!-- FORM -->
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <h2 class="detail-view-place-title" id="add-form-title"></h2>
            <p class="place-address" id="add-form-address"></p>
            <div class="add-place-btns-container">
                <input type="submit" value="Save" id="place-add-save-btn" class="submit-btn">
                <button class="cancel-btn"><a href="{% url 'place_add' %}">Cancel</a></button>
            </div>
        </form>
    </div>
</section>

<script async src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places">
</script>

{% endblock content %}