{% extends "base.html" %}
{% load static  %}

{% block head %}

<script type="module" src="{% static 'js/place-add-form.js' %}"></script>

{% endblock head %}

{% block content %}

<section class="add-place-page">
    <h1>Add a Place</h1>
    
    <!-- TEST PLACES AUTOCOMPLETE -->
    <input type="text" id="search-input" placeholder="Enter a place name">
    <div id="place-add-form">
        <img src="" alt="" id="photo" height="200">
    
        <!-- FORM -->
    
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save" id="place-add-save-btn">
            <button><a href="{% url 'place_add' %}">Cancel</a></button>
        </form>
    </div>
</section>

<script async
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places">
</script>
    
{% endblock content %}