{% extends "base.html" %}

{% block content %}
<div>
    <h3>{{ place.place_name }}</h3>

    <p>latitude: {{ place.latitude }}</p>
    <p>longitude: {{ place.longitude }}</p>
    <p>contributer: {{ place.contributer }}</p>
    <p>updated_on: {{ place.updated_on|date:"d/m/y H:i" }}</p>
    <p>created_on: {{ place.created_on|date:"d/m/y H:i" }}</p>
    <p>favourited: {{ place.favourited }}</p>

    {% if user.is_authenticated and user == place.contributer %}
    <p>As the original contributer, you can</p><a href="{% url 'place_edit' place.pk %}">+ Edit This Place +</a>
    {% endif %}

    <h4>({{ place.comments.count }} Comments)</h4>
    {% for comment in place.comments.all %}
    <h5>{{ comment.author }} • {{ comment.created_on|date:"d/m/y H:i" }}</h5>
    <p>{{ comment.comment }}</p>

    {% if user.is_authenticated and user == comment.author %}
    <p>As the original author, you can</p><a href="{% url 'comment_edit' comment.pk %}">+ Edit This Comment +</a>
    <p>As the original author, you can</p><a href="{% url 'comment_delete' comment.pk %}">+ Delete This Comment +</a>
    {% endif %}

    <hr>

    {% endfor %}

    {% if user.is_authenticated %}

    <h4>Add a Comment:</h4>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% endif %}
</div>

{% endblock content %}